<!DOCTYPE html>
<html>
<head>
  <title>Coolcutz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'blueimp-gallery.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'set.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style.css', media: 'all',  'data-turbolinks' => true %>

  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.blueimp-gallery.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'respond.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'touchSwipe.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'script.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'wow.min.js', 'data-turbolinks-track' => true %>

 <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
